body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    background-color: bisque !important;
}

.navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    position: absolute;
    width: 100%;
}

.navbar .botonera {
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

}

.navbar .botonera a {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
    color: white;
    font-size: 1.1rem;
}

.navbar .botonera a:hover {
    color: #e40c0c;
}

.logo {
    width: 4rem;
}

.contacto_titulo {
    padding-left: 3em;
    margin-bottom: 0px;
    width: 15%;
}

.pixel {
    width: 50%;
    height: 1px;
    margin-top: 1px;
    background-color: black;
    vertical-align: middle;
    margin: auto;

}

.contacto_datos_conteiner {
    display: flex;
    justify-content: center;

    margin: auto;
    padding: auto;
    width: 100%;
}

.asd {
    display: inline-block;
    width: 33%;
    margin: auto;
}

.contacto_datos {
    text-align: center;
    display: block;
}

.datos {
    text-align: center;
    display: block;
}

.img {
    width: 20px;
    height: 20px;
}

.descripcion {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin: 20px 0;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 50px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}