.contenedor {
    top: -50px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.336), rgba(19, 19, 19, 0.336)),
        rgba(255, 255, 255, 0.03);
    position: relative;
    max-width: 450px; 
}

.h2login {
    font-size: 30px;
    color: rgb(255, 145, 0);
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.elemento {
    margin: 30px 0px 0px 0px;
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
    color: rgb(255, 145, 0);
    text-align: left;
    letter-spacing: 5px;
    text-transform: uppercase;
}

  
.labelopciones {
    color: antiquewhite;
    font-size: 12px;
    width: 400px;

    justify-content: space-between; /* Distribuir los labels de manera uniforme */
    align-items: center; /* Alinear los labels verticalmente en el centro */
  
}

.labelopciones:hover {
    color: rgb(255, 145, 0);
    font-size: 13px;
}

input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    color: rgb(255, 145, 0);
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}


.botonlink {
    letter-spacing: 5px;
    padding: 15px;
    margin: 20px auto 20px auto;
    text-align: center;
}

.a1 {
    color: rgb(255, 145, 0);
}

.a1:hover {
    color: rgb(112, 0, 0);
    font-size: 16px;
}




@media screen and (max-width: 800px) {
  .contenedor {
    width: 90%;
  }

  .elemento form input[type="text"],
  .elemento form input[type="password"] {
    width: 100%;
  }

  .labelopciones{
    width: 100%;
  }
}


/* Ajustes para pantallas entre 600px y 400px */
@media screen and (max-width: 600px) {
  .contenedor {
    width: 95%; /* Aumenta aún más el ancho en pantallas de 600px a 400px */
  }

  /* Ajustes adicionales para elementos específicos en este rango de ancho */
}

/* Ajustes para pantallas menores a 400px */
@media screen and (max-width: 400px) {
  .contenedor {
    width: 100%; /* Ancho completo para pantallas más pequeñas */
  }

  /* Ajustes adicionales para elementos específicos en este rango de ancho */
}