

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(245, 243, 242)!important;
}




.nav-bar{
    display: flex;
    background-color: rgba(255, 255, 255, 0) !important; 
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 1rem;
    position: absolute;
    width: 100%;
}

.nav-bar .botonera{
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

} 

.nav-bar .botonera a{
    background-color: rgba(255, 255, 255, 0) !important; 
    border: none;
    color: white;
    font-size: 1.1rem;
}
.nav-bar .botonera a:hover{
    color: #e40c0c;
}

.logo{
    width: 4rem;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 600px) {
    .hero-text h1 {
        font-size: 36px;
    }
    
    .hero-text p {
        font-size: 18px;
    }

    .product {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo img {
        height: 80px;
    }
}
/*ACERCA DE*/
.barra-divisora{
    height: 4rem;
    background-color: #008D44;
}

.segunda-barra {
    background-color: #C82A35; 
}

.quienes-somos{
     min-height: 40rem;
     padding: 5rem 0rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     background: linear-gradient(rgba(0, 0, 0, 1.1),rgba(0, 0, 0, 0.5) ) , url('../Recursos/fondo-acerca-de.jpg') no-repeat center center/cover;
}

.quienes-somos .container{
    display: inherit;
    justify-content: inherit;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 1rem;
}

.quienes-somos .container .informacion h4{
    color: rgb(255, 255, 255);
}

.quienes-somos .container .informacion p{
    color: rgb(207, 207, 207);
}

.sub-titulo{
    margin-bottom: 4rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px #cac7c7;
    font-weight: lighter;
}

.quienes-somos .container .informacion{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quienes-somos .container .informacion p{
    width: 100%;
    text-align:justify;

}

/*POR QUE ELEGIRNOS*/

.text-justify {
    text-align: justify;
}



/*NUESTRAS SUCURSALES*/

.nuestras-sucursales{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-carrousel{
    width: 100%;
    max-width: 680px;
}


.video{
    max-width: 100%;
}

iframe{
    max-width: 100%;
}
@media screen and (max-width: 990px) {

    .quienes-somos .container .informacion{
        width: 100%;
        padding: 1rem;
    }
    .quienes-somos .container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;

    }

}

/*PORQUE ELEGIRNOS*/

.card-elegir{
    background-color: rgba(177, 27, 37, 0.9) !important; 
    padding: 0.5rem;
    box-sizing: content-box;
}

.card-elegir .card-title{
    color: rgb(247, 247, 247)!important;
    font-size: 1.4rem;
}

.card-elegir .card-text{
    color: rgb(230, 227, 227);
    line-height: 1.7rem;
}

.bi-star-fill{
    color: rgb(238, 238, 10);
}

/*CELEBRITIS*/

.famosos{
    padding: 2rem;
}

.card-celebridad{
    background-color: rgba(0, 141, 68, 0.9) !important;
    width: 24rem;
    object-fit: cover;

    
}

.card-celebridad .card-title{
    color: rgb(247, 247, 247)!important;
}

.standardized-image {
    width: 100%;
    height: 100%; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Esto asegura que la imagen cubra el contenedor sin distorsionarse */
    max-height: 100%;     /* Asegura que la imagen no exceda el tamaño del contenedor */

}


