

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(128, 105, 78)!important;
}




.nav-bar{
    display: flex;
    background-color: rgba(255, 255, 255, 0) !important; 
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 1rem;
    position: absolute;
    width: 100%;
}

.nav-bar .botonera{
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

} 

.nav-bar .botonera a{
    background-color: rgba(255, 255, 255, 0) !important; 
    border: none;
    color: white;
    font-size: 1.1rem;
}
.nav-bar .botonera a:hover{
    color: #e40c0c;
}

.logo{
    width: 4rem;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 600px) {
    .hero-text h1 {
        font-size: 36px;
    }
    
    .hero-text p {
        font-size: 18px;
    }

    .product {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo img {
        height: 80px;
    }
}
/*ACERCA DE*/
.barra-divisora{
    height: 4rem;
    background-color: #1ebc5b;
}

.segunda-barra {
    background-color: #ff0000; 
}

.quienes-somos{
     min-height: 20rem;
     padding: 5rem 0rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
}

.quienes-somos .container{
    display: inherit;
    justify-content: inherit;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding: 1rem;
}

.sub-titulo{
    margin-bottom: 4rem;
}

.quienes-somos .container .informacion{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quienes-somos .container .informacion p{
    width: 100%;
    text-align:justify;

}

/*POR QUE ELEGIRNOS*/

.text-justify {
    text-align: justify;
}

.standardized-image {
    width: 100%;
    height: 30rem; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Esto asegura que la imagen cubra el contenedor sin distorsionarse */
}

/*NUESTRAS SUCURSALES*/

.nuestras-sucursales{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-carrousel{
    width: 100%;
    max-width: 680px;
}


.video{
    max-width: 100%;
}

iframe{
    max-width: 100%;
}
@media screen and (max-width: 990px) {

    .quienes-somos .container .informacion{
        width: 100%;
        padding: 1rem;
    }
    .quienes-somos .container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;

    }

}




